<!-- Botones -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a
          href="#"
          class="btn btn-primary btn-block"
          data-bs-toggle="modal"
          data-bs-target="#agregarClienteModal"
        >
          <i class="fas fa-plus"></i> Agregar Cliente
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Botones -->
<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">Listado de Clientes</div>
          <table class="table table-striped">
            <thead class="">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Saldo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes; let i = index">
                <td>
                  <span title="{{ cliente.id }}">{{ i + 1 }}</span>
                </td>
                <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                <td>{{ cliente.saldo | currency : "PEN" : "S/." }}</td>
                <td>
                  <a
                    routerLink="/cliente/editar/{{ cliente.id }}"
                    class="btn btn-secondary"
                  >
                    <i class="fas fa-angle-double-right"></i> Modificar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Trajetas Laterales -->
      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h3>Saldo Total</h3>
            <h4 class="display-4">
              {{ getSaldoTotal() | currency : "PEN" : "S/." }}
            </h4>
          </div>
        </div>

        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Total Clientes</h3>
            <h4 class="display-4">
              <i class="fa fa-users"></i> {{ clientes?.length }}
            </h4>
          </div>
        </div>
      </div>
      <!-- Fin Trajetas Laterales -->
    </div>
  </div>
</section>

<!-- Modal Agregar -->
<div
  class="modal fade"
  id="agregarClienteModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-light text-center">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Agregar Cliente
        </h1>
        <button
          type="button"
          class="btn-close"
          #botonCerrarModal
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="funCerrarModal()"
        ></button>
      </div>

      <div *ngIf="vErrorModalMostrar" class="alert alert-warning alert-dismissible fade show" role="alert">
        {{vErrorModalmsg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <form
        #clienteForm="ngForm"
        (ngSubmit)="funAgregar(clienteForm)"
      >
        <div class="modal-body">
          <div class="modal-body">
            <div class="form-group">
              <label for="">Nombre</label>
              <input
                type="text"
                name="nombre"
                class="form-control"
                #nombre="ngModel"
                [(ngModel)]="cliente.nombre"
                [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                required
                minlength="2"
              >
              <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">
                Nombre debe de ser ingreaso
              </div>
              <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">
                Nombre bbe de tener almenos 2 caracteres
              </div>
            </div>

            <div class="form-group">
              <label for="">Apellido</label>
              <input
                type="text"
                name="apellido"
                class="form-control"
                #apellido="ngModel"
                [(ngModel)]="cliente.apellido"
                [ngClass]="{'is-invalid': apellido.errors && apellido.touched}"
                required
                minlength="2"
              />
              <div [hidden]="!apellido.errors?.['required']" class="invalid-feedback">
                Apellido debe de ser ingreaso
              </div>
              <div [hidden]="!apellido.errors?.['minlength']" class="invalid-feedback">
                Apellido debe de tener almenos 2 caracteres
              </div>
            </div>

            <div class="form-group">
              <label for="">Email</label>
              <input
                type="text"
                class="form-control"
                name="email"
                class="form-control"
                #email="ngModel"
                [(ngModel)]="cliente.email"
                [ngClass]="{'is-invalid': email.errors && email.touched}"
                required
                pattern="^(([^<>()\[\]\\.,;:\s@”]+(\.[^<>()\[\]\\.,;:\s@”]+)*)|(“.+”))@((\[[0–9]{1,3}\.[0–9]{1,3}\.[0–9]{1,3}\.[0–9]{1,3}])|(([a-zA-Z\-0–9]+\.)+[a-zA-Z]{2,}))$"
                />
                <div [hidden]="!email.errors?.['required']" class="invalid-feedback">
                  Email debe de ser ingreaso
                </div>
                <div [hidden]="!email.errors?.['pattern']" class="invalid-feedback">
                  Email no es valido (ejem.:nombre@dominio.com)
                </div>
            </div>

            <div class="form-group">
              <label for="">Saldo</label>
              <input
                type="number"
                class="form-control"
                name="saldo"
                class="form-control"
                #saldo="ngModel"
                [(ngModel)]="cliente.saldo"
                [ngClass]="{'is-invalid': saldo.errors && saldo.touched}"
                required
                minlength="2"
              />
              <div [hidden]="!saldo.errors?.['required']" class="invalid-feedback">
                Saldo debe de ser ingreaso
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus"></i> Registrar Cliente
          </button>
          <button (click)="funCerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
